.category-container{
    box-sizing: content-box;
}

.category-container .category-bar-left,.category-container .category-bar-right{
    opacity: 0%;
    transition: opacity 0.25s;
}

.category-container:hover .category-bar-left,.category-container:hover .category-bar-right{
    opacity: 100%;
}

.scroll-list {
    width: 100%;
    aspect-ratio: auto 8/1;
    margin: 0px;
    
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;

    white-space: nowrap;
    
}

@media (max-width: 1600px) {
    .scroll-list {
        aspect-ratio: auto 8/1;
    }
}
@media (max-width: 1400px) {
    .scroll-list {
        aspect-ratio: auto 6/1;
    }
}
@media (max-width: 1200px) {
    .scroll-list {
        aspect-ratio: auto 4/1;
    }
}

.scroll-item {
    box-sizing: border-box;
    height: 100%;
    aspect-ratio: auto 16/11;

    display: inline-block;

    background-color: #7070706c;
    mask-image: element('.entry-frame-decoration-spacer')
}

.scroll-list::-webkit-scrollbar{
    display: none;
}

.category-bar{
    box-sizing: border-box;
    height:fit-content;
    position: relative;
}

.category-bar-left,.category-bar-right{
    position: absolute;
    height: 100%;
    aspect-ratio: auto 5/16;
    font-size: 90px;
    text-align: center;
    z-index: 10;

    color: white;
}

.category-bar-right{
    right:0;
    background: linear-gradient(-90deg,rgba(0, 0, 0, 0.308), rgba(255, 255, 255, 0));
}

.category-bar-left{
    left:0;
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.308), rgba(255, 255, 255, 0));
}

.category-bar-left svg, .category-bar-right svg{
    z-index: 10;
    fill: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 100%;
}
.category-bar-right svg{
    transform: translate(-50%, -50%) rotate(180deg);
}

.category-head{
    margin-top: 10px;
    margin-bottom: 5px;
    border-top: 2px solid var(--colour-sec);
    border-bottom: 2px solid var(--colour-sec);
    font-size: 24px;
    height: 1.3em;
    width: 100%;
}

.category-head p{
    text-align: center;
    color: var(--colour-text);
    font-weight: bold;
    margin:0px
}

.entry-frame-border{
    box-sizing: border-box;
    position: relative;
    height: 80%;
    aspect-ratio: auto 16/9;
    padding-right: 5px;
    padding-left: 5px;
}

.entry-frame{
    box-sizing: border-box;
    position: absolute;
    margin:0px;
    padding: 0px;
    height: 100%;
    aspect-ratio: auto 16/9;
    top: 0px;

    background-size: cover;
    background-position: center;
    box-shadow: inset 0px 0px 40px black;
    background-clip: border-box;
}

.entry-content{
    height: 100%;
    width: 100%;
}

.entry-title{
    font-size:1rem;

    white-space: normal;
    margin: 10px;
    position: absolute;
    bottom: 0px;

    color: white;
    font-weight: bold;
    
    width: 80%;
}

.entry-frame-decoration{
    width: 100%;
    height: 10%;
    position: relative;
}

.entry-frame-decoration-group{
    position: absolute;
    height: 50%;
    width: 100%;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 50%);

    display: flex;
}

.entry-frame-decoration-spacer{
    border-radius: 2px;
    background-color: var(--colour-pri);
    height: 100%;
    width: 5%;
    margin-left: 5%;
    
}


































.scrollbar{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height:10px;
    width:600px;
}

.scrollbar-track{
    position: absolute;
    background-color: grey;
    height: 10px;
    width: 600px;

    left:0px;
}

.scrollbar-thumb{
    position: absolute;
    background-color: black;
    height: 10px;
    width: 20px;

    left:80;
}

