.nav-bar {
  color:var(--accent-two);
  justify-content: center;
  background-color: var(--colour-sec);
  height: 100;
  grid-column: 1 / 2;
}

.nav-bar h2{
  margin: 0px;
  height: 100%;
  width: 200px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.nav-bar .site-title{
  text-align: center;
}

.nav-bar #search-input {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  margin-right: 5px;

  padding-left: 10px;
  padding-right: 10px;

  border: none;
  border-radius: 5px;

  height: 50%;
  width: 30vw;

  color: white;
  background-color: var(--yinmn-blue);
}

.nav-btn {
  height: 60px;
  width: 100%;

  color: var(--colour-text);
  font-weight: bold;
  font-size: 15px;
  background-color: var(--colour-sec);

  border: none;
  transition: background-color 0.5s;
  border-top: 1px solid var(--accent-two);
}

.nav-btn:hover {
  background-color: var(--colour-pri);
}