.nav-bar {
  color:var(--colour-text);
  justify-content: center;
  background-color: var(--colour-pri);
  height:100vh;
  grid-column: 1 / 2;
}

.nav-bar h2{
  text-align: center;
  margin: 0px;
  height: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.nav-bar .site-title{
  text-align: center;
  border-bottom: 1px solid var(--colour-sec);
}

.nav-bar #search-input {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  margin-right: 5px;

  padding-left: 10px;
  padding-right: 10px;

  border: none;
  border-radius: 5px;

  height: 50%;
  width: 30vw;

  color: white;
  background-color: var(--yinmn-blue);
}

.nav-btn {
  height: 60px;
  width: 100%;

  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: var(--colour-text);
  font-weight: bold;
  font-size: 15px;
  background-color: var(--colour-pri);

  border: none;
  transition: background-color 0.5s;
  border-bottom: 1px solid var(--colour-sec);
}

.nav-btn:hover {
  background-color: var(--colour-sec);
  
}